/* --------------- 外層容器 --------------- */
body {
    background-color: var(--main-color-bg);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    position: relative;

    /* border: 1px solid brown; */
}

/* --------------- 導覽列 --------------- */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 40px;

    /* border: 1px solid brown; */
}

header .logo a{
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    height: 100%;
}

header nav ul{
    display: flex;
    align-items: center;
    height: 100%;

    /* border: 1px solid brown; */
}

header nav ul li{
    padding: 0 20px;
    height: 100%;
}

header nav ul li a{
    display: flex;
    align-items: center;
    height: 100%;

    font-weight: var(--medium);
    color: var(--subtitle-b14);

    position: relative;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 1px;
    background: var(--main-color-dark);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

header nav ul li a:hover::after{
    width: 100%;
}

/* ---------- 漢堡選單 ---------- */
.header_toggleMenu{
    display: none;    
}

.rwd-menu {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;

    justify-content: space-between;
  
    background-color: white;
    opacity: 0;
    padding: 64px 0;
  
    z-index: 999;
    overflow-y: auto;

    transition: width 0.6s ease-in-out,
                padding 0.6s ease-in-out,
                opacity 0.6s ease-in-out; 
}

.rwd-menu.active{
    width: 50vw; 
    padding: 64px;
    opacity: 0.9;
}

.rwdMenu-left-content{
    display: flex;
    flex-direction: column;

    height: fit-content;
}

.rwdMenu-left-content .logo{
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
}

.rwdMenu-left-content ul li a::after{
    bottom: 10px;
}

.rwdMenu-right-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
    margin-bottom: 20vh;
    gap: 40px;
}

.rwdMenu-right-content p{
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
}

.rwdMenu-right-content p:nth-of-type(1){
    max-height: 200px;
    overflow: hidden;
}

.rwd-menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: fit-content;
    margin-top: 20px;
}

.rwd-menu li{
    height: 48px;
}

.burger-in-box{
    position: absolute;
    top: 40px;
    right: 40px;
}

.burger-in{
    position: relative;

    width: 40px;
    height: 40px;
    background: none;
    border: none;

    cursor: pointer;
}

.burger-in span{
    display: block;
    
    position: absolute;
    left: 0;

    width: 60%;
    height: 1px;
    border-radius: 1px;
    
    background: var(--main-color-dark);
    opacity: 1;

    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-in span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 30%;
    left: 29%;
}

.burger-in span:nth-of-type(2) {
    transform: rotate(-45deg);
    top: 30%;
    left: 29%;
}

.burger{
    position: relative;

    width: 40px;
    height: 40px;
    background: none;
    border: none;

    cursor: pointer;
}

.burger span{
    display: block;
    
    position: absolute;
    left: 0;

    width: 60%;
    height: 1px;
    border-radius: 1px;
    
    background: var(--main-color-dark);
    opacity: 1;

    transform: rotate(0deg);
    transition: 0.6s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: left center;
}

.burger.active span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 30%;
    left: 29%;

    opacity: 0;
  }
  
.burger.active span:nth-of-type(2) {
    width: 0%;
    opacity: 0;

    opacity: 0;
  }
  
.burger.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 72%;
    left: 29%;

    opacity: 0;
  }
/* --------------- footer --------------- */
footer{
    padding: 40px 40px 80px;
    box-sizing: border-box;

    background-color: #fff;
}

.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    /* border: 1px solid blue; */
}

.content-wrapper .left-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    max-width: 900px;
    padding-right: 24px;
    box-sizing: border-box;

    flex-grow: 3;

    /* border: 1px solid brown; */
}

.brand-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* padding-left: 24px; */
    box-sizing: border-box;

    gap: 64px;
}

.brand-text .logo{
    font-family: 'Staatliches', sans-serif;
    font-size: var(--footer-logo-96);
    color: var(--main-color-nightGreen);
}

.brand-text p{
    font-size: var(--footer-text-20);
    line-height: var(--p-lineHeight-150);
    color: var(--main-color-nightGreen);
}

.footer-icons{
    display: flex;
    gap: 32px;
}

.footer-icons svg{
    cursor: pointer;
}

.bottom-nav{
    display: flex;
    /* flex-grow: 1; */

    flex-direction: column;
    gap: 24px;

    padding: 20px 0 20px 40px;
    border-left: 1px solid var(--main-color-nightGreen);

    /* border: 1px solid blueviolet; */
}

.bottom-nav a{
    width: max-content;
    position: relative;

    font-weight: var(--regular);
    color: var(--main-color-nightGreen);
}

.bottom-nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 0;
    height: 1px;
    background-color: var(--main-color-nightGreen);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.bottom-nav a:hover::after{
    width: 100%;
}

.rights{
    line-height: 1.8;

    color: var(--main-color-nightGreen);
}

.right-container{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.right-container .footer-icons{
    display: none;
}

/* 麵包屑 */
#breadcrumb{
    display: flex;
    align-items: center;

    margin-top: 24px;
    margin-left: 40px;
}