/* RWD 彈性容器與卡片寫法 */
.card-container{
    display: flex;
    gap: 40px;
    width: max-content;
    align-items: stretch;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 1 0 400px;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;
    background-color: #fff;
}

/* 這種寫法需要 p 元素 只有純文字內容（不要包 <span> 或其他 block），否則 line-clamp 可能會失效。 */
.card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* 想顯示幾行就改這裡 */
    overflow: hidden;
    text-overflow: ellipsis;/* 這是讓 溢出文字顯示為「...」的效果。要搭配 overflow: hidden; 才有效 */
}

/* box-shadow */
.box-shadow{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);;
}
/* box-shadow: [水平偏移] [垂直偏移] [模糊程度] [擴散範圍] [顏色] */

/* flex basis grow shrink 還不熟 */