@import url('reset.css');
@import url('container-style.css');
@import url('text-style.css');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    /* ---------- 顏色 ---------- */
    --main-color-bg: #e9e9e9;
    --main-color-dark: #222222;
    --main-color-nightGreen: #253237;
    /* --- 標籤 --- */
    --label-yellow: #ba9132;
    --label-green: #516e41;
    --label-blue: #255359;
    /* --- 文字 --- */
    --subtitle-b14: #141414;

    /* ---------- 文字 ---------- */

    /* --- 字級 --- */
    --big-title-96: 6rem;
    --footer-logo-96: 6rem;
    --animation-title-64: 4rem;
    --article-title-40: 2.5rem;
    --article-title-36: 2.25rem;
    --section-title-36: 2.25rem;
    --section-title-32: 2rem;
    --section-title-20: 1.25rem;

    --subtitle-40: 2.5rem;
    --subtitle-32: 2rem;
    --beetle-info-title-24: 1.5rem;
    --card-title-20: 1.25rem;
    --list-title-20: 1.25rem;

    --article-count-32: 2rem;
    --article-count-24: 1.5rem;
    --footer-text-20: 1.25rem;
    --button-text-20: 1.25rem;
    --link-text-20: 1.25rem;
    --date-20: 1.25rem;
    --original: 1rem;
    --label-text-14: 14px;

    --h3-24: 1.5rem;

    /* --- 字重 --- */
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;

    /* --- 行距 --- */
    --title-lineHeight-150: 150%;
    --title-lineHeight-120: 120%;
    --p-lineHeight-150: 150%;
    --p-lineHeight-200: 200%;

    /* ---------- 間距 ---------- */
    --section-margin-l: 160px;
    --section-margin-m: 80px;

    /* ---------- 圓角 ---------- */
    --border-radius-card: 32px;
    --border-radius-listImg: 12px;
    --border-radius-s: 4px;

}

p{
    color: #222222;
}

strong {
    font-weight: bold;
  }