@import url(./css/root.css);

/* --------------- 動態標題 --------------- */
.title-container-leftslide{
    display: flex;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title-leftslide{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: text-slideleft 30s linear infinite;
}

.animation-title-leftslide p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title-64);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

@keyframes text-slideleft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

/* --------------- 更多文章 --------------- */
.article_container{
    width: 100%;
    max-width: 820px;

    margin: 40px auto 80px;

    display: flex;
    flex-direction: column;

    /* border: 1px solid brown; */
}

/* ul */
.article-list{
    display: flex;
    flex-direction: column;
    margin: 40px auto 64px;

    width: 100%;

    /* border: 1px solid brown; */
}

/* ------ 表單外觀 ------ */
.item-content{
    display: flex;
    width: 100%;

    /* border: 1px solid brown; */
}

/* li */
.list-item{
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;
    padding: 8px;

    background-color: var(--main-color-bg);
    border-bottom: 1px solid var(--main-color-dark);
    box-sizing: border-box;

    transition: height 0.3s ease;
}

.list-item:hover{
    height: 96px;
}

.list-item .date-title{
    display: flex;
    align-items: center;
    gap: 24px;
}

.date-title .date{
    width: 120px;

    font-size: var(--date-20);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

.date-title h3{
    font-size: var(--list-title-20);
    font-weight: var(--semiBold);
    color: var(--main-color-dark);
}

.list-item svg{
    opacity: 0;
    margin-left: 8px;

    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.list-item:hover svg{
    opacity: 1;
    margin-left: 20px;
}

.label{
    display: inline-block;
    white-space: nowrap;/* 不換行 */
    width: fit-content;

    padding: 8px;
    margin-left: auto;
    margin-right: 16px;

    font-size: var(--label-text);
    font-weight: var(--semiBold);
    color: #fff;

    border-radius: var(--border-radius-s);
}

.label-yellow{
    background-color: var(--label-yellow);
}

.label-green{
    background-color: var(--label-green);
}

.label-blue{
    background-color: var(--label-blue);
}

/* 下方文字容器 */
.article-count{
    display: flex;
    justify-content: center;
    gap: 8px;

    /* border: 1px solid brown; */
}

.article-count p{
    font-size: var(--article-count-32);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}