@import url('./css/root.css');

.bigTitle-container{
    margin-top: 80px;
}

.big-title{
    font-family: 'Unbounded', sans-serif;
    font-size: var(--big-title-96);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

.vertical{
    display: block;

    transform: rotate(90deg);
    transform-origin: left top;

    animation: swing-down 2s ease-in-out forwards;
}

@keyframes swing-down {
    0%{ transform: rotate(0deg); }
    45%{ transform: rotate(97deg); }
    75%{ transform: rotate(83deg); }
    100%{ transform: rotate(90deg); }
  }

/* --------------- 精選文章 --------------- */
.selected-article{
    width: 70%;
    /* height: 1200px; */
    margin-left: auto;
    overflow: hidden;

    /* border: 1px solid brown; */
}

/* 底線 */
.title-container{
    border-bottom: 1px solid var(--main-color-dark);
}

/* 標題 */
.title-container p{
    margin-bottom: 16px;
    font-size: var(--section-title-32);
    font-weight: var(--semiBold);
}

/* ---------- 卡片容器 ---------- */
.card-container{
    display: flex;
    gap: 32px;
    width: max-content;
    margin: 40px 0;

    /* align-items: stretch; */
}

.card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 320px;

    background-color: var(--main-color-bg);

    cursor: pointer;

}

/* ----- 卡片文字 ----- */
.card .img-container{
    width: 320px;
    height: 370px;

    overflow: hidden;
}

.card img{
    transition: transform 0.3s ease;
}

.card:hover img{
    transform: scale(1.1);
}

.card .label-date{
    display: flex;
    align-items: center;

    padding-top: 8px;

    /* border: 1px solid brown; */
}

.card .label-date .label{
    margin-left: 0;
}

.card .label-date .date{
    font-size: var(--date-20);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

.card h3{
    margin-bottom: 16px;

    font-size: var(--card-title-20);
    font-weight: var(--semiBold);
    line-height: var(--title-lineHeight-150);
    color: var(--main-color-dark);
}

.card:hover h3{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

/* ---------- 文章控制按鈕容器 ---------- */
.control-btn-block{
    display: flex;
    align-items: center;

    gap: 20px;
}

.btn-container{
    display: flex;
    gap: 8px;
}

.btn-container .btn{
    padding: 12px 16px;

    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-s);

    cursor: pointer;
}

.btn svg path{
    transition: stroke 0.3s ease;
}

.btn:hover svg path {
    stroke: var(--label-yellow);
}

#btn-prev{
    opacity: 0.2;
    cursor: default;
}

#btn-prev svg{
    display: block;

    transform: translateX(-10%);

    /* border: 1px solid brown; */
}

#btn-next svg{
    display: block;

    transform: translateX(20%);
}

/* 文字容器 */
.article-count{
    display: flex;
    align-items: flex-end;
    gap: 8px;

    /* border: 1px solid brown; */
}

.article-count p{
    font-size: var(--article-count-24);
    font-weight: var(--semiBold);

    color: var(--main-color-nightGreen);
}

/* --------------- 更多文章 --------------- */
.more_article{
    width: 100%;
    max-width: 760px;

    margin: 160px auto 120px;

    display: flex;
    flex-direction: column;

    /* border: 1px solid brown; */
}

.subtitle{
    text-align: center;
    font-size: var(--section-title-36);
    font-weight: var(--semiBold);
}

/* ul */
.article-list{
    display: flex;
    flex-direction: column;
    margin: 40px auto 64px;

    width: 100%;

    /* border: 1px solid brown; */
}

/* ------ 表單外觀 ------ */
.item-content{
    display: flex;
    width: 100%;

    /* border: 1px solid brown; */
}

/* li */
.list-item{
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;
    padding: 8px;

    background-color: var(--main-color-bg);
    border-bottom: 1px solid var(--main-color-dark);
    box-sizing: border-box;

    transition: height 0.3s ease;
}

.list-item:hover{
    height: 96px;
}

.list-item .date-title{
    display: flex;
    align-items: center;
    gap: 24px;
}

.date-title .date{
    width: 120px;

    font-size: var(--date-20);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

.date-title h3{
    font-size: var(--list-title-20);
    font-weight: var(--semiBold);
    color: var(--main-color-dark);
}

.list-item svg{
    opacity: 0;
    margin-left: 8px;

    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.list-item:hover svg{
    opacity: 1;
    margin-left: 20px;
}

.label{
    display: inline-block;
    white-space: nowrap;/* 不換行 */
    width: fit-content;
    height: fit-content;

    padding: 8px;
    margin-left: auto;
    margin-right: 16px;

    font-size: var(--label-text-14);
    font-weight: var(--semiBold);
    color: #fff;

    border-radius: var(--border-radius-s);
}

.label-yellow{
    background-color: var(--label-yellow);
}

.label-green{
    background-color: var(--label-green);
}

.label-blue{
    background-color: var(--label-blue);
}

/* ----- 下方超連結容器 ----- */
.view-link-box{
    display: flex;
    justify-content: center;
}

.view-link{
    display: flex;
    align-items: center;

    width: max-content;
    height: 40px;
    gap: 4px;

    position: relative;

    transition: gap 0.4s cubic-bezier(0.25, 1, 0.5, 1);;

    /* border: 1px solid brown; */
}

.view-link:hover{
    gap: 16px;
}

.view-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--main-color-nightGreen);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.view-link:hover::after{
    width: 100%;
}

.view-link a{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}