@import url(./css/root.css);

/* --------------- 動態標題 --------------- */
.title-container-leftslide{
    display: flex;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title-leftslide{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: text-slideleft 30s linear infinite;
}

.animation-title-leftslide p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title);
    font-weight: 600;
    color: var(--main-color-nightGreen);
}

@keyframes text-slideleft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

/* --------------- 更多文章 --------------- */
.article_container{
    width: 100%;

    margin: 40px auto 120px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid brown; */
}

/* ul */
.article-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 40px auto;

    width: 100%;
    max-width: 760px;

    /* border: 1px solid brown; */
}

/* li */
.list-item{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 8px;

    background-color: #fff;
    border-radius: var(--border-radius-s);
    box-sizing: border-box;

    transition: transform 0.3s ease, padding 0.3s ease;
}

.list-item:hover{
    transform: scale(1.05);
    padding: 16px 8px 16px 16px;
}

.list-item:hover .drop-text p{
    height: auto;
    margin-top: 8px;

    opacity: 1;
    transform: scaleY(1);
}

/* ------ 表單外觀 ------ */
.item-content{
    display: flex;
    align-items: center;
    width: 100%;

    /* border: 1px solid brown; */
}

.item-content img{
    width: 64px;
    aspect-ratio: 1/1;
    margin-right: 24px;

    border-radius: var(--border-radius-s);
}

.drop-text{
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    /* border: 1px solid brown; */
}

.drop-text h3{
    font-size: var(--list-title);
    font-weight: var(--semiBold);
}

.drop-text p{
    line-height: var(--card-text-p-lineHeight);

    height: 0;
    margin-top: 0;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;

    transition: transform 0.3s ease, height 0.3s ease, margin 0.3s ease;
}

.label{
    display: inline-block;
    white-space: nowrap;/* 不換行 */
    width: fit-content;

    padding: 8px;
    margin-left: auto;
    margin-right: 16px;

    font-size: var(--label-text);
    font-weight: var(--semiBold);
    color: #fff;

    border-radius: var(--border-radius-s);
}

.label-yellow{
    background-color: var(--label-yellow);
}

.label-green{
    background-color: var(--label-green);
}

.label-blue{
    background-color: var(--label-blue);
}

/* 下方文字容器 */
.article-count{
    display: flex;
    align-items: flex-end;
    gap: 8px;

    /* border: 1px solid brown; */
}

.article-count > p:first-of-type{
    font-size: var(--animation-title);
    line-height: 0.9;
}

.article-count p{
    font-size: var(--article-title);
    font-weight: var(--semiBold);

    color: var(--main-color-nightGreen);
}