@import url('./css/root.css');

/* --------------- 動態標題 --------------- */
.title-container-leftslide{
    display: flex;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title-leftslide{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: text-slideleft 30s linear infinite;
}

.animation-title-leftslide p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title-64);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

@keyframes text-slideleft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

/* --------------- 主圖鑑牆 --------------- */
.book-main{
    display: flex;
    flex-direction: column;
    gap: 80px;

    margin-top: 80px;
}

.book-main-row{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    box-sizing: border-box;

    overflow: hidden;

    /* border: 1px solid blue; */
}

.book-main-row-1200-820{
    display: none;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    box-sizing: border-box;

    overflow: hidden;
}

.child-5{
    justify-content: space-evenly;
}

/* ---------- 甲蟲卡 ---------- */
.beetle-card{
    display: flex;
    align-items: center;
    gap: 8px;

    width: fit-content;

    /* border: 1px solid brown; */
}

.beetle-card{
    cursor: pointer;
}

.beetle-card img{
    display: block;

    filter: drop-shadow(0 4px 10px rgba(0,0,0,0));

    transition: filter 0.6s ease;
}

.beetle-card:hover img {
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.5));

    animation: beetle-wiggle 0.6s ease-in-out;
  }

@keyframes beetle-wiggle {
    0%   { transform: rotate(0deg) translateX(0); }
    20%  { transform: rotate(2deg) translateX(1px); }
    40%  { transform: rotate(-2deg) translateX(-1px); }
    60%  { transform: rotate(2deg) translateX(1px); }
    80%  { transform: rotate(-2deg) translateX(-1px); }
    100% { transform: rotate(0deg) translateX(0); }
}

.beetle-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    max-width: 0;
    max-height: 300px; /* 限制高度防爆版 */
    opacity: 0;

    transition: max-width 0.4s ease, opacity 0.4s ease;
}

.beetle-card.active .beetle-info {
    max-width: 260px;
    max-height: 300px; /* 限制高度防爆版 */
    opacity: 1;
  }

  .beetle-info h3{
    font-size: var(--beetle-info-title-24);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
  }
  
  .beetle-info p{
    line-height: var(--p-lineHeight-200);
  }

/* --------------- CTA文字區塊 --------------- */
.cta{
    display: flex;
    flex-direction: column;
    gap: 64px;

    width: 100%;
    max-width: 520px;
    margin: 120px auto;

    /* border: 1px solid brown; */
}

.cta .text-block{
    display: flex;
    /* align-items: center; */
    gap: 24px;

    width: 100%;
}

.text-block h3{
    writing-mode: vertical-lr;
    letter-spacing: 6px;

    font-size: var(--subtitle-32);
    font-weight: var(--semiBold);
    color: var(--subtitle-b14)
}

.text-block .divider-line-v{
    min-width: 1px;
    background-color: var(--main-color-dark);
}

.text-block .text-inner-box{
    display: flex;
    align-items: center;
}

.text-block p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
}

.text-block strong{
    font-weight: var(--Bold);
    /* font-size: var(--link-text); */
    color: var(--main-color-nightGreen);

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

/* ---------- 下方超連結容器 ---------- */
.view-link{
    display: flex;
    align-items: center;
    gap: 4px;

    width: max-content;
    height: 40px;
    margin: 0 auto;

    position: relative;

    transition: gap 0.4s cubic-bezier(0.25, 1, 0.5, 1);;

    /* border: 1px solid brown; */
}

.view-link:hover{
    gap: 16px;
}

.view-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--main-color-nightGreen);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.view-link:hover::after{
    width: 100%;
}

.view-link a{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}