@import url('./css/root.css');


/* --------------- 上方輪播圖 --------------- */
.carousel-container{
    display: flex;

    overflow: hidden;
}

.carousel{
    display: flex;
    align-items: center;

    width: max-content;

    transform: translateX(0%);
    animation: slideLeft 30s linear infinite;

    /* border: 1px solid brown; */
}

.carousel img{
    display: block;
    margin-left: 80px;

    filter: drop-shadow(0 4px 10px rgba(0,0,0,0));

    transition: filter 0.6s ease;
}

.carousel img:hover{
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.5));
}

@keyframes slideLeft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

/* --------------- 動態標題 --------------- */
.title-container{
    display: flex;
    justify-content: flex-end;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: slideRight 30s linear infinite;
}

.animation-title p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title-64);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

@keyframes slideRight {
    from{
        transform: translate(0%);
    }to{
        transform: translate(100%);
    }
}

/* --------------- 歡迎 圖文區塊 --------------- */
.welcome-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 90vw;
    min-height: 500px;
    margin-top: 48px;

    position: relative;

    /* border: 1px solid blue; */
}

.left-content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    width: 85%;

    /* border: 1px solid brown; */
}

.welcome-section .left-content-box img{
    display: block;
    
    width: 50vw;
    /* min-width: 500px; */

    /* border: 1px solid brown; */
}

/* ---------- 右側容器 文字與超連結 ---------- */

.left-content-box .welcome-subtitle{ /* 字樣：一同探索甲蟲之美 */
    writing-mode: vertical-rl;

    font-size: var(--section-title-36);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
    letter-spacing: 8px;
    color: var(--subtitle-b14);

    position: absolute;
    top: 0;
    right: 0;
}

.left-content-box .welcome-text{
    width: 320px;

    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);

}

.view-link-box{
    width: 136px;

    position: absolute;
    right: 0;
    bottom: 0;
}

/* ----- 下方超連結容器 ----- */
.view-link{
    display: flex;
    align-items: center;

    width: max-content;
    height: 40px;
    gap: 4px;

    position: relative;

    transition: gap 0.4s cubic-bezier(0.25, 1, 0.5, 1);;

    /* border: 1px solid brown; */
}

.view-link:hover{
    gap: 16px;
}

.view-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--main-color-nightGreen);
    transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.view-link:hover::after{
    width: 100%;
}

.view-link a{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

/* --------------- INTRO 內容區塊 --------------- */
.intro-area{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 820px;
    margin: 160px auto;

    box-sizing: border-box;

    /* border: 1px solid brown; */
}

/* ---------- INTRO字樣 ---------- */
.intro-area .intro{
    display: inline-block;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--big-title-96);
    font-weight: 400;
    color: var(--main-color-nightGreen);
}

/* ---------- intro卡片區 ---------- */
.card-container{
    display: flex;
    flex-direction: column;
    gap: 160px;

    margin-top: 56px;
}

.card{
    width: 100%;
    display: flex;
    align-items: center;
}

.card img{
    display: block;
}

.card .card-text-box{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 400px;
    margin-left: 40px;
}

.card-text-box .title-button{
    display: flex;
    align-items: center;
}

.title-button h3{
    font-size: 1.5rem;
    font-weight: var(--semiBold);
    color: var(--subtitle-b14);
}

.title-button .drop-toggle-btn{
    all: unset; /* 清除預設樣式 */
    cursor: pointer;

    width: 40px;
    aspect-ratio: 1/1;
    margin-left: auto;
    position: relative;

    transition: transform 0.4s ease;
}

.card-text-box.active .drop-toggle-btn{
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.drop-toggle-btn svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid blue; */
}

.divider {
    min-height: 1px;
    background-color: var(--main-color-dark);
    width: 100%;
}

.card-text-box .drop-text-box{
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.card-text-box.active .drop-text-box{
    max-height: 400px;
    opacity: 1;
}

.card-text-box .drop-text-box p{
    line-height: var(--p-lineHeight-200);
    font-weight: var(--semiBold);
}

/* --------------- 文章區塊 --------------- */
.article-area{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 820px;
    margin: 160px auto;

    box-sizing: border-box;

    position: relative;
}

.article-area .title{
    font-family: 'Unbounded', sans-serif;
    font-size: var(--big-title-96);
    font-weight: 400;
    color: var(--main-color-nightGreen);
}

.article-content-box{
    display: flex;
    gap: 40px;
    margin-top: 40px;

    /* position: relative; */
}

.article-content-box h3{
    writing-mode: vertical-lr;

    font-size: var(--section-title-36);
    font-weight: var(--semiBold);
    line-height: var(--title-lineHeight-120);
    letter-spacing: 8px;
    color: var(--subtitle-b14);
}

.divider-line-v{
    min-width: 1px;
    background-color: var(--main-color-dark);
}

.img-box{
    min-width: 360px;
    overflow: hidden;
}

.article-area img{
    transition: transform 0.3s ease;
}

.article-area:hover img{
    transform: scale(1.1);
}

.article-content-box .text-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article-content-box p:nth-child(1){
    font-size: var(--date-20);
    color: var(--main-color-nightGreen);
}

.article-content-box p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
    color: var(--main-color-dark);
}

.article-view-link-box{
    width: 156px;

    position: absolute;
    right: 0;
    bottom: 0;
}


/* --------------- Keep & Feed --------------- */

/* --------------- 動態標題 --------------- */
.title-container-leftslide{
    display: flex;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title-leftslide{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: text-slideleft 30s linear infinite;
}

.animation-title-leftslide p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title-64);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

@keyframes text-slideleft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

.KF-content{
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 820px;
    margin: 40px auto 80px;

    box-sizing: border-box;

    /* border: 1px solid brown; */
}

.KF-content .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
    margin-left: 64px;

    /* border: 1px solid brown; */
}

.KF-content .text-container .KF-text-box{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.KF-content .text-container h3{
    font-size: var(--h3-24);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-150);
}

.KF-content .text-container p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
}

.KF-view-link-box{
    width: 176px;
}