@import url('./css/root.css');
body{
    background-color: #fff;
}

/* --------------- 上方文字區塊 --------------- */
.top-text-block{
    display: flex;
    gap: 24px;

    width: 100%;
    max-width: 800px;
    margin: 80px auto;

    /* border: 1px solid brown; */
}

.top-text-block h3{
    font-size: var(--section-title-36);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-150);
    color: var(--main-color-nightGreen);
}

.top-text-block .rwd430-title{
    display: none;
}

.divider-line-v{
    min-width: 1px;
    background-color: var(--main-color-dark);
}

.top-text-block .p-box{
    display: flex;
    align-items: center;
}

.top-text-block p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
    color: var(--main-color-dark);
}

/* --------------- Q&A選單 --------------- */

/* ---------- ul ---------- */
.faq{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 800px;
    padding: 40px 0 80px;
    margin: 0 auto;
    box-sizing: border-box;

    /* border: 1px solid brown; */
}

/* ----- li ----- */
.faq-item{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 24px 20px 24px 32px;

    box-sizing: border-box;
    border-bottom: 1px solid var(--main-color-dark);

    /* border: 1px solid blue; */
}

/* 內部內容與排版 */
.faq-question{
    display: flex;
    align-items: center;

    width: 100%;
}

.faq-question h3{
    font-size: var(--list-title-20);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

.faq-toggle-btn{
    all: unset; /* 清除預設樣式 */
    cursor: pointer;

    width: 40px;
    aspect-ratio: 1/1;
    margin-left: auto;
    position: relative;

    transition: transform 0.4s ease;

    /* border: 1px solid brown; */
}

.faq-item:hover .faq-toggle-btn{
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.faq-toggle-btn svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid blue; */
}

/* 展開回答 */
.faq-answer{
    width: 100%;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition: margin-top 0.4s ease, max-height 0.4s ease, opacity 0.4s ease;
}

.faq-item:hover .faq-answer{
    margin-top: 12px;
    max-height: 200px;
    opacity: 1;
}

.faq-answer p{
    display: block;
    font-size: var(--original);
    font-weight: var(--semiBold);
    color: var(--main-color-dark);
    line-height: var(--p-lineHeight-200);
}

/* --------------- 留言牆 --------------- */
input,textarea,select,button {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;
}

.wall-outer-box{
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 80px 24px;
    box-sizing: border-box;

}

.wall-outer-box .left-content-box{
    display: flex;
    flex-direction: column;
    gap: 160px;

    width: 20%;
    
    /* border: 1px solid brown; */
}

.left-content-box h3{
    width: max-content;

    font-size: var(--section-title-32);
    font-weight: var(--semiBold);
    line-height: var(--title-lineHeight-150);
    color: var(--main-color-nightGreen);
}

.left-content-box p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    line-height: var(--p-lineHeight-200);
    color: var(--main-color-dark);
}

.wall-outer-box .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    width: 60%;
}

.contact-form .form-group{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group label{
    font-size: var(--original);
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
    /* border: 1px solid brown; */
}

.form-group textarea,input{
    padding: 20px;
    border: 1px solid var(--main-color-nightGreen);;
    border-radius: var(--border-radius-s);
}

/* --------------- 提交按鈕 --------------- */
.submit-btn{
    width: fit-content;
    padding: 16px 40px;
    margin: 0 auto;

    background-color: var(--main-color-nightGreen);
    border-radius: var(--border-radius-s);

    font-size: var(--original);
    font-weight: var(--semiBold);
    color: #fff;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    transition: transform 0.3s ease;
}

.submit-btn:hover{
    transform: scale(1.05);
}

/* 按鈕hover特效 */
.submit-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -75%;
    width: 200%;
    height: 200%;
  
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    );
  
    transform: translateX(-100%) rotate(25deg);
    opacity: 0.6;
    pointer-events: none;
  }
  
  /* Hover 時觸發動畫 */
  .submit-btn:hover::before {
    animation: shine-soft 1.2s ease forwards;
  }
  
  /* 掃描動畫 */
  @keyframes shine-soft {
    0% {
      transform: translateX(-100%) rotate(25deg);
      opacity: 0.2;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: translateX(100%) rotate(25deg);
      opacity: 0;
    }
  }