@import url(./css/root.css);

/* --------------- 動態標題 --------------- */
.title-container-leftslide{
    display: flex;

    margin-top: var(--section-margin-m);

    /* border: 1px solid brown; */
    overflow: hidden;
}

.animation-title-leftslide{
    display: flex;
    align-items: center;

    width: max-content;

    /* border: 1px solid blue; */
    animation: text-slideleft 30s linear infinite;
}

.animation-title-leftslide p{
    display: block;
    min-width: max-content;
    margin-left: 80px;

    font-family: 'Unbounded', sans-serif;
    font-size: var(--animation-title-64);
    font-weight: 500;
    color: var(--main-color-nightGreen);
}

@keyframes text-slideleft {
    from{
        transform: translate(0%);
    }to{
        transform: translate(-100%);
    }
}

/* ul */
.shop-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    width: fit-content;
    margin: 120px auto;

    /* border: 1px solid blue; */
}

/* --------------- 卡片內容 --------------- */
.shop-card{
    display: flex;
    gap: 40px;

    width: 100%;

    background-color: var(--main-color-bg);
    overflow: hidden;
    box-sizing: border-box;

    /* border: 1px solid brown; */
}

.shop-card .img-box{
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.shop-card img{
    display: block;

    transition: transform 0.3s ease;
}

.shop-card:hover img{
    transform: scale(1.1);
}

/* 右側蟲店資訊區塊 */
.right-content{
    display: flex;
    flex-direction: column;

    padding: 20px 0;
    /* border: 1px solid brown; */
}

.right-content .g-map-box{
    width: 64px;
    height: 64px;

    background-color: var(--main-color-bg);
    border: 2px solid var(--main-color-dark);
    border-radius: 8px;

    transition: background-color 0.3s ease;
}

.right-content .g-map-box a{
    display: inline-block;
    width: 64px;
    line-height: 64px;

    text-align: center;

    transition: color 0.3s ease;
    /* border: 1px solid brown; */
}

.right-content .g-map-box:hover{
    background-color: var(--main-color-dark);
}

.right-content .g-map-box:hover a{
    color: #fff;
}

.right-content .shop-info{
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: auto;

    /* padding: 0 32px; */
}

.shop-info .title-map{
    display: flex;
    flex-direction: row;
    align-items: center;

    /* padding-top: 24px; */
}

.title-map .map-icon-box{
    display: none;
    align-items: center;
    /* justify-content: center; */

    width: 40px;
    height: 40px;
    margin-left: auto;

    /* border: 1px solid blue; */
}

.title-map .map-icon-box a{
    display: inline-block;
    width: 40px;
    text-align: center;
    line-height: 40px;

    /* border: 1px solid brown; */
}

.title-map .map-icon-box svg{
    display: block;
    width: 40px;
}

.shop-info h3{

    font-size: 1.5rem;
    font-weight: var(--semiBold);
    color: var(--main-color-nightGreen);
}

.divider-line-h{
    min-height: 1px;
    background-color: var(--main-color-dark);
}

.outer-text-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inner-text-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-info p{
    font-size: var(--original);
    font-weight: var(--semiBold);
    color: var(--main-color-dark);
}
